<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [25]:
# Enter Student names here:
student_names = ['Ayden', 'Germaine', 'John', 'Harry', 'Peter', 'Liz', 'Pat', 'Luke', 'Roger', 'Edward']

---

### 1. What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# a is a integer
#
#

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [50]:
mutable you can change, immutable you cannot change

SyntaxError: invalid syntax (<ipython-input-50-944515dd5956>, line 1)

---

### 3. Print the `student_names` list.

In [4]:
print(student_names)

['Ayden', 'Germaine', 'John', 'Harry', 'Peter']

---

### 4. Print the names of the first and last students in the list.

In [20]:
first_last_student_name = [student_names[0], student_names[4]]
print (first_last_student_name)

['Ayden', 'Peter']

---

### 5. Print the first five names in the student list.

In [9]:
print(student_names[:5])

['Ayden', 'Germaine', 'John', 'Harry', 'Peter']

---

### 6. Combine the ninth and tenth student names into a single string, separated by a space.  Assign that string to a variable.

In [30]:
nine_tenth_student = student_names[8] + ' ' + student_names[9]
print(nine_tenth_student)

Roger Edward

---

### 7. Append an animal to the list of animals.

In [37]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [40]:
animals.append('horse')

---

### 8. Print the length of the animals list.

In [39]:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'horse']

---

### 9. Divide the length of the fifth animal by the second.

In [43]:
int(len(animals[4])/len(animals[1]))

2

---

### 10. Perform the same division, but ensure output is a decimal number.

In [45]:
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [46]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [53]:
new_list = animals + numbers
print(new_list)

new_list_2 = animals.append(numbers)
print(new_list_2)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'horse', 'horse', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]
None

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [55]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [61]:
names=names.index[('kiefer')] = 'Ayden'

TypeError: 'builtin_function_or_method' object does not support item assignment

---

### 13. Sort the following list.

In [ ]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [ ]:
# A:

---

### 14. Manually check whether one element of `mix` is greater than another.

In [ ]:
# A:

---

### 15. Find the index of `'a'` in the list.

In [ ]:
# A:

---

### 16. Reverse the `mix` list.

In [ ]:
# A:

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [ ]:
# A:

---

### 18. Count the number of times `0` appears in the following list.

In [ ]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [ ]:
# A:

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [ ]:
# A:

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [ ]:
# A:

---

### 21. Get the keys out of the dictionary.

In [ ]:
# A:

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [ ]:
# A:

---

### 23. Add the castro district to the dictionary with zipcode 94114.

In [ ]:
# A:

---

### 24. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [ ]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [ ]:
# A:

---

### 25. Remove the '`sunset`' zipcode, and assign it to a variable.

In [ ]:
# A:

---

### 26. Check if the 'dogpatch' is in the dictionary.

In [ ]:
# A: